.wrapper{
    user-select: none;
    padding: 0px 260px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    box-shadow: 0px 0px 3px #888888cb;
    z-index: 1;
    height: 60px;
    background-color: white
}

.input{
    
    height: 2rem;
    padding-left: 10px;
    width: 350px;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: #EFEFEF;
    
}

.controls{
    display: flex;
    gap: 17px;
}
.search{
    position: relative;
    display: inline-block;
}
.searchResultBody{
    display: block;
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    max-height: 500px;
    margin-top: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
    overflow: auto;
}

.resultItem{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    padding: 10px 15px;
    margin: 10px;
    border: 1px solid black;
}

/* width */
.searchResultBody::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .searchResultBody::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  .searchResultBody::-webkit-scrollbar-thumb {
    background: rgb(0, 179, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .searchResultBody::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  .logo{
    cursor: pointer;
  }