@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&family=Alegreya+Sans+SC:wght@100&family=Josefin+Sans:wght@700&family=Lobster&family=Lora:wght@400;600&family=Oswald:wght@600&family=Oxygen:wght@300;700&family=Titillium+Web:wght@700&display=swap');
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

:root{
  overflow-y: scroll!important;
  box-sizing: border-box;
  margin:0;
  padding:0;
  background-color: #FAFAFA;
  overflow:hidden;
  --button-primary: #0095F6;
  --button-hover: #0094f694;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
